.idea/
.idea/admin_panel_vue.iml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/workspace.xml

Client/admin/node_modules
Client/user/node_modules

Server/node_modules
Client/admin/package-lock.json
