$navbarBgColor: #5BCAFF;
$whiteColor: white;
$whiteActiveLinkColor: #c7ddef;

body {
  overflow-x: hidden;
}

.container {
  display: block;
  margin: auto;
  overflow: hidden;

  width: 80%;
  max-width: 1020px;
}

.container-margin{
  margin-top: 15px;
}

.shadow {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  list-style: none;

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 1% 1% 0;
    min-width: 320px;
    width: 30%;
    cursor: pointer;

    figcaption {
      color: #fff;
      font-size: 1.25em;
    }

    figcaption,
    figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
