$navbarBgColor: #5BCAFF;
$whiteColor: white;
$whiteActiveLinkColor: #c7ddef;

$fontSizeTitle: 27px;
$fontSizeSmall: 15px;

@mixin breakpoint($device) {
  @if ($device == xs) {
    // until 767px
    @media only screen and (max-width: 480px) {
      @content;
    }
  } @else if ($device == sm) {
    // from 768px
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if ($device == md) {
    // from 992px
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if ($device == lg) {
    // from 1200px - open end
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @else if ($device == lg-min) {
    // from 1200px - open end
    @media only screen and (max-width: 1201px) {
      @content;
    }
  }
  @else if ($device == lg-max) {
    // from 1200px - open end
    @media only screen and (max-width: 1281px) {
      @content;
    }
  }
  @else {
    //custom breakpoint
    @media only screen and (min-width: $device) {
      @content;
    }
  }
}


@mixin breakpointDesktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}


@mixin tabletVersion {
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

.scrollOff {
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  padding-bottom: 1px;
}

.scrollOff + .m-content {
  display: none;
}

.scrollOff ~ .footer {
  display: none;
}

body {
  font-family: 'Fira Sans', sans-serif;;
  overflow-x: hidden;
}

p {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
}

.container {
  display: block;
  margin: auto;
  overflow: hidden;

  width: 80%;
  max-width: 1020px;

  @include breakpoint(xs) {
    width: 99%;
  }
}

.container-margin{
  margin-top: 15px;
  margin-bottom: 15px;

  @include breakpoint(xs) {
    margin-top: 1%;
  }
}

.shadow {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  list-style: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 1% 1% 0;
    min-width: 320px;
    width: 30%;
    cursor: pointer;

    figcaption {
      color: #fff;
      font-size: 1.25em;
    }

    figcaption,
    figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.btn {
  background: rgba(255, 255, 255, 0);
  border: 1px solid $navbarBgColor;
  color: $navbarBgColor;
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 150px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
  padding: 5px 10px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
    transition: 0.35s ease-in-out;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $navbarBgColor;
    transform: translateX(-100%);
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $whiteColor;

    &:before {
      transform: translateX(0);
    }
  }

}

.icon {
  float: right;
  margin-top: 1px;
  margin-left: 3px;
}
