$navbarBgColor: #5BCAFF;
$whiteColor: white;
$whiteActiveLinkColor: #c7ddef;

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  &.active a {
    color: $whiteActiveLinkColor !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

a {
  text-decoration: none;
  outline : none;
}

.container {
  display: block;
  margin: auto;
  overflow: hidden;

  width: 80%;
  max-width: 1020px;
}

.content{
  margin-top: 15px;
}
